node_modules
junit-report
junit-report/*
package-lock.json
logs
report
carbon.code-workspace
.idea
tests/support/rest/test.js
.iml
tests/support/rest/*.crt
tests/support/rest/*.key
tests/support/graphQLData/headers/headers.js
allure-report
data/param.txt
.secrets/
.vscode/launch.json
.DS_Store
**/.DS_Store
**/**/.DS_Store
**/**/**/.DS_Store
